# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python cache
.pytest_cache/

# Power BI cache
*.pbix.autosave

# Large datasets (optional)
Data/Raw/train.csv
Data/Raw/test.csv
